#query {
    width: 500px;
    height: 250px;
}

#playlist-results {
    width: calc(100% - 18px);
    height: 350px;
}

form#sql-query {
    div {
        display: inline-block;
    }
    div:nth-child(2) {
        vertical-align: top;
    }

    div:nth-child(3) {
        vertical-align: top;
    }
}

table {
    background-color: black;
    td, th {
        background-color: white;
    }
    tr:nth-child(odd) td {
        background-color: #EEE;
    }
    tr:nth-child(even) td {
        background-color: #DDD;
    }
}

.error {
    box-sizing: border-box;
    min-width: 400px;
    max-width: 400px;
}

#query-results {
    overflow: auto;
}

#tag-container {
    overflow: scroll;
    max-height: 300px;
}

#cursor {
    padding: 10px;
    margin-top: -23px;
    position: relative;
    top: 20px;
    left: -18px;
}

#cursor-new {
    display: inline-block;
    width: 0;
    transition: all linear 0.25s;

    svg {
        transition: all linear 0.25s;
        position: relative;
        margin-left: -8px;
        margin-top: -16px;
    }

    svg.in:first-child {
        top: -18px;
    }

    svg.in:last-child {
        bottom: -25px;
    }

    svg.out:first-child {
        top: -21px;
    }

    svg.out:last-child {
        bottom: -28px;
    }
}

#guided-query-to-run {
    .tag:hover {
        transform: scale(1.0) !important;
        cursor: auto;
    }
}

pre {
    display: inline;
}