#version-info {
    border: 2px solid blue;
    border-radius: 10px;
    width: 20%;
    padding: 10px;
    svg {
        color: blue;
    }
}

form {
    width: 80%;
}

input {
    width: 100%;
}

#new-installation, #update-installation {
    display: none;
}