:root {
    --accent-color: black;
    --header-height: 50px;
    --green: #55b400;
    --yellow: #fbfb00;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
    color: var(--yellow);
}

label {
    color: var(--accent-color);
}

.header:has(a) {
    h2 {
        margin-left: 55px;
    }
}

.header {
    border-right: var(--header-height) solid transparent;
    border-top: var(--header-height) solid black;
    width: fit-content;
    margin-left: -8px;
    margin-top: -8px;

    a {
        display: inline-block;
        margin-top: -40px;
        margin-left: 15px;
        height: 0;
    }

    h2, h3, h4 {
        display: block;
        margin-top: -39px;
        height: 0;
        margin-left: 15px;
        color: var(--yellow);
    }
}

.header:has(h4) {
    border-right: calc(var(--header-height) - 20px) solid transparent;
    border-top: calc(var(--header-height) - 20px) solid black;

    h4 {
        margin-top: -23px;
    }
}

.header:after {
    content: "";
    width: 100%;
    height: calc(var(--header-height) + 10px);
    background: linear-gradient(-45deg, var(--green), var(--green), var(--yellow));
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
}

div.error:has(*) {
    border: 2px solid red;
    width: fit-content;
    padding: 20px;
    font-size: 17px;
    border-radius: 5px;
    svg {
        color: red;
    }
}

#parent {
    display: flex;
    #left-pane, #right-pane {
        min-width: 50%;
        margin-left: -8px;
        margin-top: -8px;
        padding-left: 8px;
        > *:first-child {
            margin-top: 0;
        }
        flex: 1;
        min-height: calc(100dvh - 16px); /*body has default styling of 8px margin*/
    }

    #right-pane {
        border-left: 3px dashed var(--accent-color);
        padding-left: 5px;
    }

    #right-pane .header:after {
        width: 50%;
    }
}